{% extends 'layout.html'%}

{% block title %}
    New Recipe
{% endblock %}


{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h2 class="h4 mb-0">Create New Recipe</h2>
                    </div>
                    <form class= "form-with-validation" action="" method="post" enctype= "multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        
                        <div class="add-more-link">
                            <a href="{% url 'recipes:add-ingredient' %}?next={% url 'recipes:new-recipe' %}" 
                               class="add-button">
                               + Add Missing Ingredient
                            </a>
                            <span class="help-text">(Will return you here after adding)</span>
                        </div>
                        <button class="form-submit">Add Recipe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}