
{% extends 'layout.html'%}

{% block title %}
    Reset Password
{% endblock %}


{% block content %}
    <h1>Reset your Password</h1>
    <form method = "post" >
        {% csrf_token %}
        {{ form.email.errors }}
        <div class="form-group">
            <label for="id_email">Email:</label>
            <input type="email" name="email" id="id_email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Request Password Reset</button>
    </form>
{% endblock %}

